@import '~antd/dist/antd.css';

.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #282c34;
  overflow-y: scroll;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.Product-card {
  margin-bottom: 20px
}