@import '~antd/dist/antd.css';

.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 160%;
  padding: 10px;
  background-color: #0046BF;
  overflow-y: scroll;
}

.App-header {
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 400;
}

.Product-card {
  margin-bottom: 20px
}

.popup-header {
  text-shadow: 1px 1px black;
}